/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

/* Not floating  */
.floating-container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


/* Container for tables */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Upload input  */
input[type="file"] {
    position: absolute;
    font-size: 17px;
    color: #b8b8b8;
  }

/* Floating container */
/* .floating-container {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 300px;
    max-height: 80vh;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    z-index: 1000;
    transition: width 0.3s, height 0.3s;
}

.floating-container.expanded {
    width: 600px;
    height: 80vh;
    max-height: 500px;
}

.arrow {
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: transform 0.3s;
}

.arrow.expanded {
    transform: rotate(-90deg);
} */


#clearButton {
    border: 2px solid rgb(255, 0, 0);
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    /* padding: 14px 28px;
    font-size: 16px;
    cursor: pointer; */
}

/* Search container */
.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-container input, .search-container button {
    margin: 0 10px;
    padding: 10px;
    font-size: 16px;
}

/* Table styles */
.table-container {
    overflow-x: auto;
    max-height: 400px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}

td {
    background-color: #fafafa;
}

/* Responsive design */
@media (max-width: 768px) {
    th, td {
        padding: 8px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    th, td {
        padding: 6px;
        font-size: 12px;
    }
}
